@charset "utf-8";
//google font
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Black+Han+Sans&family=Lato:wght@100;300&family=Nanum+Gothic:wght@400;700&family=Roboto&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box}
body{font-family: "Roboto";}


//font color
$color-white: #fff;
$color-olivegreen: #759077;

.nav_list{ position: fixed; top: 34%; right: 50px;
    >ul{display: flex; flex-direction: column; 
        li{margin-top: 28px;
            a{ position: relative;
                span{display: block; width: 12px; height: 12px; background: #000; border-radius: 20px;}
                i{position: absolute; top: -3px; left: -93px; color: $color-olivegreen; transition: .3s; display: none;}
            }
        &:hover{
            a{
                i{display: block;}
            }
        }
        }
        li.active{margin-left: -12px;
            a{
                span{width: 36px; height: 36px;}
            }
        }
    }
}
.hamberMenu{ display: none; transition: .3s;}
.mobile_Nav{display: none;}

#fullpage{
    .section{width: 100%; height: 100vh;}
    .container{width: 100%; height: 100vh; position: relative; padding: 50px 100px; box-sizing: border-box; overflow: hidden;} // 공통속성
    #sec1{background: #FFFFE9;  position: relative;
            .container{display: flex; align-items: center; justify-content: center;
                .main_text{width: 100%; display: flex; justify-content: center;
                    h1{position: relative; top: 97px; transition: .3s; transform: translateY(-50%); font-size: 126px; font-family: 'Black Han Sans', sans-serif; text-shadow: 6px 7px 0px grey; z-index: 3;line-height: 170px;
                    &::after{content: ""; width: 282px; height: 393px; background: #135058; position: absolute; top: -45px; left: -10px; z-index: -1;}
                    strong{color: $color-white;  text-shadow: 6px 7px 0px #000;}
                }
            }
                p{transition: .3s; font-size: 72px; font-weight: bold; /* text-shadow: 10px 7px 2px grey; */ position: absolute; right: 100px; bottom: 8% }
        }
    }

    #sec2{font-family: 'Roboto', sans-serif; background: #FFFFE9; position: relative;
        @keyframes aniY {
            0%{transform: translateY(1000px);}
            100%{transform: translateY(0);}
        }
        h2{font-size: 67px; text-align: center; text-shadow: 10px 7px 11px #333;}

        .profile{width: 100%; height: 742px; margin: 0 auto; box-sizing: border-box; position: relative;
            .profile-left{width: 25%; height: inherit; box-sizing: border-box; padding: 30px; transform: translateY(1000px);
                &.on{animation: aniY 1.5s forwards;}
                .photo{width: 100%; height: 282px; background: rgb(160, 233, 198);  border-radius: 56px; margin: 0 auto;}
                .profile_text{margin-top: 5px;
                    p{font-family: 'Abel', sans-serif; color: $color-olivegreen; font-size: 50px; border-bottom: 3px solid $color-olivegreen; width: 100%;}
                    >dl{margin-top: 15px; 
                        dt{font-family: 'Roboto', sans-serif; font-size: 20px; color: #759077; font-weight: bold;}
                        .age{margin-top: 5px;}
                        .contact{margin-top: 5px;}
                        dd{font-family: 'Roboto', sans-serif; font-size: 20px;}
                    }
                }
            }
            .profile-list{width: 75%; height: inherit; position: absolute; top: 0; right: 0;  box-sizing: border-box; padding: 40px; border-left: 2px dashed #000;
                &.on{animation: aniY 2s forwards;}
                >ul{display: flex; box-sizing: border-box; flex-wrap: wrap; height: 742px;
                   >li{width: 50%; height: 50%; padding: 0px 11px; opacity: 0;
                        >p{font-size: 50px; font-family: 'Abel', sans-serif; color: $color-olivegreen; border-bottom: 3px solid $color-olivegreen; width: 100%;}
                        ul{display: flex; flex-direction: column; height:50%; margin-top: 15px;
                            li{
                                a{font-size: 20px; font-family: 'Roboto', sans-serif; border: none;margin-right: 15px; font-weight: bold;}
                                p{font-size: 20px; font-family: 'Roboto', sans-serif; border: none;margin-right: 15px; font-weight: bold; color: $color-olivegreen; float: left;}
                            }
                        }
                    }
                    li.profile_list_Education{
                        >ul{ 
                            >li{width: 100%; height: 50%;
                                    p{float: left;}
                                    span{font-size: 20px; font-family: 'Roboto', sans-serif; font-weight: bold;}
                            }
                        }
                    }
                    li.profile_list_skills{
                        .skillsBox{ margin-top: 35px; width: 100%; display: flex;
                            >#flexbox{ display: flex; margin-top: -12px; flex-wrap: wrap;
                                p{height: 50px; width: 50%;
                                    a{font-size: 17px; margin-left: 94px; position: relative;
                                    }
                                }
                                p:nth-child(1){
                                    a{
                                        &::after{content: ""; width: 40px; height: 40px; position: absolute; background: url(../img/html_icon.png) no-repeat; top: -9px; left: -79px;}
                                    }
                                } 
                                p:nth-child(2){
                                    a{
                                        &::after{content: ""; width: 46px; height: 40px; position: absolute; background: url(../img/css_icon.png) no-repeat; top: -9px; left: -81px;}
                                    }
                                } 
                                p:nth-child(3){
                                    a{position: relative;
                                        &::after{content: ""; width: 40px; height: 40px; position: absolute; background: url(../img/js_icon.png) no-repeat; top: -9px; left: -79px;}
                                    }
                                } 
                                p:nth-child(4){
                                    a{
                                        &::after{content: ""; width: 41px; height: 40px; position: absolute; background: url(../img/jquery_icon.png) no-repeat -19px -11px; top: -9px; left: -75px;}
                                    }
                                }  
                                p:nth-child(5){
                                    a{
                                        &::after{content: ""; width: 41px; height: 40px; position: absolute; background: url(../img/scss.icon.png) no-repeat 0px 0px; top: -9px; left: -73px;}
                                    }
                                }  
                                p:nth-child(6){
                                    a{
                                        &::after{content: ""; width: 41px; height: 40px; position: absolute; background: url(../img/bootstrap.icon.png) no-repeat 0px 0px; top: -9px; left: -72px;}
                                    }
                                }  
                                p:nth-child(7){
                                    a{
                                        &::after{content: ""; width: 41px; height: 40px; position: absolute; background: url(../img/react.icon.png) no-repeat 0px 0px; top: -9px; left: -73px;}
                                    }
                                }  
                                p:nth-child(8){
                                    a{
                                        &::after{content: ""; width: 41px; height: 40px; position: absolute; background: url(../img/figma.icon.png) no-repeat 0px 0px; top: -9px; left: -72px;}
                                    }
                                }  
                            }
                        }
                    }
                    li.profile_list_Work{
                        ul{ height: 55%; width: 100%;
                            li{ display: flex; width: 100%;
                                p{width: 30%;}
                                a{font-size: 20px;font-family: 'Roboto', sans-serif; font-weight: bold; width: 100%;
                                    display: inline-block;}
                            }
                        }
                    }
                    li.profile_list_dis{
                        >ul{ width: 100%; margin-top: 20px;
                            li{ width: 100%; height: 50px;
                                a{ margin-left: 15px; font-size: 15px;
                                    span{float: left;}
                                    div{ width: 60%; height: 22px; background: #efefef;border-radius: 20px; margin-left: 15px; float: left; position: relative;
                                    }// box
                                }
                            }
                            li:nth-child(1){
                                div.on{
                                    &::after{content: ""; width: 68%; height: 22px; background: #000; position: absolute; top: 0; left: 0; border-radius: 20px 0 0 20px; animation: aniline1 2.3s 1.4s ease-in-out forwards;}
                                }
                            }
                            li:nth-child(2){
                                div.on{
                                    &::after{content: ""; width: 81%; height: 22px; background: #000; position: absolute; top: 0; left: 0; border-radius: 20px 0 0 20px; animation: aniline2 2.3s 1.4s ease-in-out forwards;}
                                }
                            }
                            li:nth-child(3){
                                div.on{
                                    &::after{content: ""; width: 78%; height: 22px; background: #000; position: absolute; top: 0; left: 0; border-radius: 20px 0 0 20px; animation: aniline3 2.3s 1.4s ease-in-out forwards;}
                                }
                            }
                            li:nth-child(4){
                                div.on{
                                    &::after{content: ""; width: 71%; height: 22px; background: #000; position: absolute; top: 0; left: 0; border-radius: 20px 0 0 20px; animation: aniline4 2.3s 1.4s ease-in-out forwards;}
                                }
                            }
                            li:nth-child(5){
                                div.on{
                                    &::after{content: ""; width: 56%; height: 22px; background: #000; position: absolute; top: 0; left: 0; border-radius: 20px 0 0 20px; animation: aniline5 2.3s 1.4s ease-in-out forwards;}
                                }
                            }
                            @keyframes aniline1 {
                                0% {width: 0;}
                                100% {width: 68%;}
                            }
                            @keyframes aniline2 {
                                0% {width: 0;}
                                100% {width: 81%;}
                            }
                            @keyframes aniline3 {
                                0% {width: 0;}
                                100% {width: 78%;}
                            }
                            @keyframes aniline4 {
                                0% {width: 0;}
                                100% {width: 71%;}
                            }
                            @keyframes aniline5 {
                                0% {width: 0;}
                                100% {width: 56%;}
                            }
                        }
                        .mobile-dis{display: none;}
                    }
                }
            }

        }
        
        
    }// sec2
    #sec3{
        h2{font-size: 96px; font-family: 'Abel', sans-serif; text-align: center; text-shadow: 10px 7px 11px #333; position: relative;
            &::after{content: ""; position: absolute; top:15px; left: 42%; background: #F4BE6C; width: 157px; height: 116px; z-index: -1; transform: translateX(-50%);}
        } 
        .projectWrap1{
            display: flex;
            .project1_text{width: 50%; height: 455px; font-family: 'Abel', sans-serif; box-sizing: border-box;  padding: 30px;
                h3{font-size: 61px; border-bottom: 2px solid #000; width: 100%; margin-left: -27px; padding-left: 27px;}
                ul{ display: flex; flex-direction: column; 
                    li{
                        a{ 
                            p{font-size: 40px; float: left; margin-right: 20px;}
                            span{font-size: 24px; line-height: 66px;}
                        }
                    }
                }
                >p{font-size: 18px;}
            } 
            .project1_picturBox{width: 50%; height: 746px; display: flex; /* position: absolute; top: 149px; right: 140px; */ box-sizing: border-box; margin-left: 7%;
                >div{ margin-left: 20px; transition: .5s;
                    img{width: 100%; height: 620px;}
                &:hover{margin-top: 50px;}
                }
                div:nth-child(1){padding-top: 90px;}
                div:nth-child(3){padding-top: 90px;}
            } 
        }
        
    }
    #sec4{position: relative;
        h2{font-size: 96px; font-family: 'Abel', sans-serif; text-align: center; text-shadow: 10px 7px 11px #333;
            &::after{content: ""; position: absolute; top: 50px; left: 42%; background: #ebe8ae; width: 157px; height: 116px; z-index: -1; transform: translateX(-50%);}
        }
        .projectWrap2{display: flex; flex-direction: row;
            .project2_text{width: 50%; height: 50%; font-family: 'Abel', sans-serif; box-sizing: border-box; padding: 30px;
                h3{font-size: 61px; border-bottom: 2px solid #000; width: 100%; margin-left: -27px; padding-left: 27px;}
                ul{ display: flex; flex-direction: column; 
                    li{
                        a{ 
                            p{font-size: 40px; float: left; margin-right: 20px;}
                            span{font-size: 24px; line-height: 66px;}
                        }
                    }
                }
                >p{font-size: 18px;}
            } 
            .project2_picturBox{width: 50%; height: 50%; margin-top: 50px;
                .box_wrap{width: 100%;
                        .imgBox{width: 500px; height: 500px;  transition: .3s; margin-top: -47px;
                            .imge{width: 100%; height: 100%; background: url(../img/project2.png) no-repeat; background-size: cover; transition: .3s;}
                        &:hover{transition: .3s;
                            .imge{width: 100%; height: 100%; background: url(../img/project2_hover.png) no-repeat; background-size: cover; }
                        }
                        }
                    .backBox{width: 500px; height: 108px; background: #Ffc80d; z-index: -1; margin-left: 40px; transition: .3s;}
                }
            }
        }
    }
    #sec5{position: relative;
        h2{font-size: 96px; font-family: 'Abel', sans-serif; text-align: center; text-shadow: 10px 7px 11px #333;
            &::after{content: ""; position: absolute; top: 50px; left: 42%; background: #A1ECAD; width: 157px; height: 116px; z-index: -1; transform: translateX(-50%);}
        }
        .projectWrap3{width: 100%; display: flex; justify-content: space-between; margin-top: 50px;
            .project3_text{width: 50%; height: 50%; font-family: 'Abel', sans-serif; box-sizing: border-box; padding:0  30px;
                h3{font-size: 61px; border-bottom: 2px solid #000; width: 100%; margin-left: -27px; padding-left: 27px;}
                ul{ display: flex; flex-direction: column; 
                    li{
                        a{ 
                            p{font-size: 40px; float: left; margin-right: 20px;}
                            span{font-size: 24px; line-height: 66px;}
                        }
                    }
                }
                >p{font-size: 18px;}
            } 
            .project3_picturBox{width: 50%;
                .box_wrap{width: 80%;
                    a.pc_img{ 
                        img{width: 65%;}
                    }
                    a.mobile_img{
                        img{width: 30%;}
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1500px) {
    #fullpage{
        #sec2{
            >.container{
               .profile-list{ 
                   ul{
                       li{
                           p{font-size: 40px;}
                       }
                       li.profile_list_Education{
                           ul{ 
                               li{
                                       p{font-size: 17px; 
                                        line-height: 31px;}
                                       span{font-size: 17px;}
                               }
                           }
                       }

                       li.profile_list_Work{
                           ul{ 
                               li{
                                   p{font-size: 17px;}
                                   a{font-size: 17px;}
                               }
                           }
                       }
                       li.profile_list_skills{
                        .skillsBox{margin-top: 15px;}
                      }
                   }
               }
           }
       }
    }
}


@media screen and (max-width:1346px) {
    #fullpage {
        #sec2{
             >.container{
                .profile-list{ 
                    ul{
                        li{
                            p{font-size: 40px;}
                        }
                        li.profile_list_Education{
                            ul{ 
                                li{
                                        p{font-size: 15px;}
                                        span{font-size: 15px;}
                                }
                            }
                        }
                        li.profile_list_skills{
                            .skillsBox{margin-top: 15px;

                            }
                        }
                        li.profile_list_Work{
                            ul{ 
                                li{
                                    p{font-size: 15px;}
                                    a{font-size: 15px;}
                                }
                            }
                        }
                        li.profile_list_dis{
                            >ul{display: none;}
                            .mobile-dis{display: block; width: 100%;
                                ul{ width: 100%;  margin:20px 0 0 0;
                                    li{ width: 100%; margin-bottom: 7px;
                                        a{ margin-left: 15px; font-size: 15px; display: flex;
                                            div{ width: 60%; height: 22px; background: #efefef;border-radius: 20px; margin-left: 15px; float: left; position: relative;
                                            }// box
                                            .none{ padding-left: 10px}
                                        }
                                    }
                                    li:nth-child(1){
                                        div{
                                            &::after{content: ""; width: 68%; height: 22px; background: #000; position: absolute; top: 0; left: 0; border-radius: 20px 0 0 20px;}
                                        }
                                    }
                                    li:nth-child(2){
                                        div{
                                            &::after{content: ""; width: 81%; height: 22px; background: #000; position: absolute; top: 0; left: 0; border-radius: 20px 0 0 20px;}
                                        }
                                    }
                                    li:nth-child(3){
                                        div{
                                            &::after{content: ""; width: 78%; height: 22px; background: #000; position: absolute; top: 0; left: 0; border-radius: 20px 0 0 20px;}
                                        }
                                    }
                                    li:nth-child(4){
                                        div{
                                            &::after{content: ""; width: 71%; height: 22px; background: #000; position: absolute; top: 0; left: 0; border-radius: 20px 0 0 20px;}
                                        }
                                    }
                                    li:nth-child(5){
                                        div{
                                            &::after{content: ""; width: 56%; height: 22px; background: #000; position: absolute; top: 0; left: 0; border-radius: 20px 0 0 20px;}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
           
        }
        #sec3{
            >.container{
                h2{}
                .projectWrap1{
                   >.project1_picturBox{
                       div{
                           img{height: 550px;}
                       }
                   } 
                }
            }
        }
        #sec4{
            .container{
                >.projectWrap2{
                    .project2_picturBox{
                        .imgBox{width: 450px; height: 450px; 
                            .imge{width: 100%; height: 100%; background: url(../img/project2.png) no-repeat; background-size: cover}
                        }
                        .backBox{width: 450px}
                    }
                }
            }
        }
    }
}




@media screen and (max-width:1248px) {
    #fullpage {
        #sec1{
             >.container{ 
               .main_text{ 
                    h1{font-size: 95px; line-height: 130px; transition: .3s;
                    &::after{width: 220px; height: 325px; top: -34px;}
                    }
                }
                p{transition: .3s; font-size: 50px; right: 70px;}
            }
           
        }
        #sec2{
            >.container{ padding: 50px 55px;
                .profile{
                    .profile-list{
                        ul{
                            li.profile_list_Education{
                                ul{ 
                                    li{
                                        p{font-size: 14px;}
                                        span{font-size: 14px;}
                                    }
                                }
                            }
                            li.profile_list_Work{
                                ul{ 
                                    li{
                                        p{font-size: 14px;}
                                        a{font-size: 14px;}
                                    }
                                }
                            }
                            li.profile_list_dis{
                                .mobile-dis{
                                    ul{
                                        li{
                                            a{font-size: 15px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #sec3{
            >.container{
                .projectWrap1{
                   >.project1_picturBox{
                       div{
                           img{height: 450px;}
                       }
                   } 
                }
            }
        }
        #sec4{
            .container{
                >h2{}
                >.projectWrap2{
                    .project2_picturBox{
                        .imgBox{width: 400px; height: 400px; }
                        .backBox{width: 400px;}
                    }
                }
            }
        }
        #sec5{
            .container{
                >h2{}
                >.projectWrap3{
                }
            }
        }
    }
}

@media screen and (max-width: 1140px) {
    #fullpage {
        #sec2{
             >.container{
                .profile{display:flex; flex-direction: column; width: 100%; height: 100%;
                    >.profile-left{width: 100%; height: 30%; display: flex; border-right: none; border-bottom: 1px dashed #000; padding: none;
                        .photo{width: 270px; height: auto; margin-left: 2%;}
                        .profile_text{width:60%; height: auto;
                            p{font-size: 30px;}
                            >dl{display: flex; flex-direction: row; 
                                dt{margin-right: 15px; font-size: 15px;}
                                dd{font-size: 15px;}
                            }
                            dl.contact{display: flex;
                                dl.contact_column{display: flex; flex-direction: column;}
                            }
                        }
                    }
                    >.profile-list{top: 28%; width: 100%; padding: 40px 20px; border: none;
                        >ul{width: 100%; height: 50%;
                            >li.profile_list_Education{ 
                                >p{font-size: 30px;}
                                >ul{
                                    li{
                                        a{line-height: 18px;
                                            p{font-size: 15px;}
                                            span{font-size: 15px;}
                                        }
                                    }
                                }
                            }
                            >li.profile_list_skills{
                                >p{font-size: 30px;}
                                >.skillsBox{margin-top: 5px;
                                    >#flexbox{
                                        >p{ width: 25%;  
                                            a{font-size: 15px;
                                                span{display: none;}
                                            }
                                        }
                                    }
                                }
                            }
                            li.profile_list_Work{
                                >p{font-size: 30px;}
                                ul{display: flex;
                                    li{height: 30%;
                                        &:nth-child(2){ margin-top: 40px;}
                                        p{font-size: 15px;}
                                        a{font-size: 15px;}
                                    }
                                }
                            }
                            li.profile_list_dis{
                                >p{font-size: 30px;}
                                .mobile-dis{
                                    ul{
                                        li{height: 30px;
                                            a{font-size: 12px;}
                                        }
                                    }
                                }
                            }
                        }
                    }   
                }
            }
           
        }
        #sec3{
            >.container{
                h2{font-size: 90px;}
                .projectWrap1{display: flex; flex-wrap: wrap;
                    >.project1_text{width: 100%; height: 50%;
                        h3{font-size: 55px;}
                        >ul{
                            >li{margin-top: 5px;
                                a{
                                    p{font-size: 30px;}
                                    span{font-size:20px; line-height: 50px;}
                                }
                            }
                        }
                    }
                    >.project1_picturBox{width: 100%; height: 50%; display: flex; justify-content: center;
                       div{width: 13%;
                           img{height: 250px;}
                       }
                   } 
                }
            }
        }
        #sec4{
            .container{
                >h2{font-size: 90px;}
                >.projectWrap2{flex-direction: column-reverse;
                    >.project2_text{width: 100%; 
                        h3{font-size: 55px;}
                        >ul{
                            >li{margin-top: 5px;
                                a{
                                    p{font-size: 30px;}
                                    span{font-size:20px; line-height: 50px;}
                                }
                            }
                        }
                        p{}
                    }
                    .project2_picturBox{width: 100%; display: flex; justify-content: center; flex-wrap: wrap;  margin-top: 0;
                        .box_wrap{ width: 50%;
                            .imgBox{width: 330px; height: 330px;}
                            .backBox{width:330px;}
                        }
                    }
                }
            }
        }
        #sec5{
            .container{
                >h2{font-size: 90px;}
                >.projectWrap3{flex-direction: column; align-items: center;
                    >.project3_text{width: 100%; 
                        h3{font-size: 55px;}
                        >ul{
                            >li{margin-top: 5px;
                                a{
                                    p{font-size: 30px;}
                                    span{font-size:20px; line-height: 50px;}
                                }
                            }
                        }
                        p{}
                    }
                    .project3_picturBox{width: 50%; margin-top: 30px;
                        .box_wrap{width: 80%;
                            a.pc_img{ 
                                img{width: 65%;}
                            }
                            a.mobile_img{
                                img{width: 30%;}
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width:1004px) {
    .hamberMenu{ display: block; position: fixed; top: 5%; left: 5%; transition: .3s; z-index: 10;
        span{
            i{font-size: 40px;}
        }
    }
    .mobile_Nav{display: block; width: 200px; height: 742px; position: fixed; top: 5%; left: -200px; background-color: #fff; z-index: 10;
        .close_Btn{text-align: right; margin: 10px 10px;
            span{
                i{ font-size: 40px;}
            }
        }
        >ul{display: flex; flex-direction: column; align-items: center; margin-top: 98px;
            >li{margin-bottom: 61px; width: 100%; text-align: center;
                a{font-size: 43px; padding: 1px 21px; font-family: 'Abel', sans-serif;
                &:hover{color: $color-olivegreen; transition: .2s;}
                }
            }
            >li.on{
                a{color: $color-olivegreen;}
            }
        }
    }
    nav{display: none;}
    #fullpage {
        #sec1{
             >.container{
               .main_text{ 
                    h1{font-size: 77px; line-height: 110px; transition: .3s;
                    &::after{width: 179px; height: 260px; top: -24px;}
                    }
                }
                p{transition: .3s; font-size: 30px; right: 50px;}
            }
           
        }
        #sec2{
            >.container{padding: 50px 75px;
                h2{font-size: 60px;}
                .profile{
                    .profile-left{
                        .photo{width: 250px;}
                    }
                }
            }
            
        }
        #sec3{
            >.container{
                .projectWrap1{
                    .project1_text{
                        >h3{margin-left: 0; padding-left: 0;}
                    }
                }
            }
        }
        #sec4{
            >.container{
                .projectWrap2{
                    .project2_text{
                        >h3{margin-left: 0; padding-left: 0;}
                    }
                }
            }
        }
        #sec5{
            >.container{
                .projectWrap3{
                    .project3_text{
                        >h3{margin-left: 0; padding-left: 0;}
                    }
                    .project3_picturBox{width: 50%; 
                        .box_wrap{width: 80%; position: relative;
                            a.pc_img{ 
                                img{width: 100%;}
                            }
                            a.mobile_img{ position: absolute; top: 128px; right: -268px;
                                img{width: 50%;}
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:860px) {
    #fullpage {
        #sec1{
             >.container{
               .main_text{ 
                    h1{font-size: 57px; line-height: 90px; transition: .3s;
                    &::after{width: 136px; height: 218px;}
                    }
                }
                p{transition: .3s; font-size: 30px; right: 70px;}
            }
           
        }
        #sec2{
            >.container{padding: 50px 50px;
                h2{font-size: 55px;}
                >.profile{
                    >.profile-left{
                        .photo{width: 230px; margin-left: 1%;}
                    }
                    >.profile-list{
                        >ul{
                            >li.profile_list_Education{
                                >p{font-size: 25px;}
                                >ul{
                                    >li{
                                        >a{
                                            >p{font-size: 14px;}
                                            >span{font-size: 14px;}
                                        }
                                    }
                                }
                            }
                            >li.profile_list_skills{
                                >p{font-size: 25px;}
                                >.skillsBox{

                                }
                            }
                            li.profile_list_Work{
                                p{font-size: 25px;}
                                ul{
                                    li{
                                        p{font-size: 14px;}
                                        a{font-size: 14px;}
                                    }
                                }
                            }
                            li.profile_list_dis{
                                >p{font-size: 25px;}

                            }
                        }
                    }
                }
            }
        }
        #sec3{
            >.container{padding: 50px 80px;
                h2{font-size: 80px;
                &::after{width: 123px; top: 10px; left: 38%;}
                }
                .projectWrap1{display: flex; flex-wrap: wrap;
                    >.project1_text{width: 100%; height: 50%;
                        h3{font-size: 45px;}
                        >ul{
                            >li{margin-top: 5px;
                                a{
                                    p{font-size: 25px;}
                                    span{font-size:18px; line-height: 40px;}
                                }
                            }
                        }
                    }
                }
            }
        }
        #sec4{
            .container{padding: 50px 80px;
                >h2{font-size: 80px;
                &::after{width: 123px; top: 51px; left: 38%;}
                }
                >.projectWrap2{flex-direction: column-reverse; margin-left: -5%;
                    >.project2_text{width: 100%; height: 50%;
                        h3{font-size: 45px;}
                        >ul{
                            >li{margin-top: 5px;
                                >a{
                                    p{font-size: 25px;}
                                    span{font-size:18px; line-height: 40px;}
                                }
                            }
                        }
                        p{}
                    }
                    .project2_picturBox{width: 100%; display: flex; justify-content: center; flex-wrap: wrap;  margin-top: 35px;
                        .box_wrap{ width: 50%;
                            .imgBox{width: 300px; height: 300px;}
                            .backBox{width:300px;}
                        }
                    }
                }
            }
        }
        #sec5{
            .container{padding: 50px 80px;
                >h2{font-size: 80px;
                &::after{width: 123px; top: 51px; left: 38%;}
                }
                >.projectWrap3{margin-left: -5%;
                    >.project3_text{width: 100%; height: 50%;
                        h3{font-size: 45px;}
                        >ul{
                            >li{margin-top: 5px;
                                >a{
                                    p{font-size: 25px;}
                                    span{font-size:18px; line-height: 40px;}
                                }
                            }
                        }
                        p{}
                    }
                    .project3_picturBox{width: 50%; 
                        .box_wrap{width: 80%; position: relative;
                            a.pc_img{ 
                                img{width: 100%;}
                            }
                            a.mobile_img{ position: absolute; top: 128px; right: -268px;
                                img{width: 50%;}
                            }
                        }
                    }
                }
            }
        }

    }
}
@media screen and (max-width:758px) {
    #fullpage{
        >#sec2{
            >.container{
                >.profile{
                    >.profile-left{
                        .photo{width: 210px; margin-left: -2%;}
                    }
                    >.profile-list{
                        >ul{
                            >li.profile_list_skills{
                                >.skillsBox{
                                    >#flexbox{
                                        p{
                                            a{
                                                span{display: none;}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #sec3{
            >.container{padding: 50px 60px;
                h2{font-size: 75px;
                &::after{width: 100px; height: 100px; top: 10px; left: 35%;}
                }
                .projectWrap1{display: flex; flex-wrap: wrap;
                    >.project1_text{width: 100%; height: 50%;
                        h3{font-size: 45px;}
                        >ul{
                            >li{margin-top: 5px;
                                a{
                                    p{font-size: 25px;}
                                    span{font-size:18px; line-height: 40px;}
                                }
                            }
                        }
                        p{font-size: 15px;}
                    }
                    .project1_picturBox{margin-left: -2%;
                        div{
                            img{width: 60px;}
                        }
                    }
                }
            }
        }
        #sec4{
            .container{padding: 50px 60px;
                >h2{font-size: 75px;
                &::after{width: 100px; height: 100px; top: 51px; left: 35%;}
                }
                >.projectWrap2{flex-direction: column-reverse;
                    >.project2_text{width: 100%;
                        h3{font-size: 45px;}
                        >ul{
                            >li{
                                >a{
                                    p{font-size: 25px;}
                                    span{font-size: 18px; line-height: 40px;}
                                }
                            }
                        }
                        p{font-size: 15px;}
                    }
                    .project2_picturBox{
                        .box_wrap{
                            .imgBox{width: 270px; height: 270px;}
                            .backBox{width:270px;}
                        }
                    }
                }
            }
        }
        #sec5{
            .container{padding: 50px 60px;
                >h2{font-size: 75px;
                &::after{width: 100px; height: 100px; top: 51px; left: 35%;}
                }
                >.projectWrap3{flex-direction: column;
                    >.project3_text{width: 100%;
                        h3{font-size: 45px;}
                        >ul{
                            >li{
                                >a{
                                    p{font-size: 25px;}
                                    span{font-size: 18px; line-height: 40px;}
                                }
                            }
                        }
                        p{font-size: 15px;}
                    }
                    .project3_picturBox{width: 50%; 
                        .box_wrap{width: 80%; position: relative;
                            a.pc_img{ 
                                img{width: 100%;}
                            }
                            a.mobile_img{ position: absolute; top: 128px; right: -268px;
                                img{width: 50%;}
                            }
                        }
                    }
                }
            }
        }
    }
        
}


@media screen and (max-width:682px) {
    #fullpage {
        #sec1{
             >.container{
               .main_text{ position: absolute; top: 37%;
                    h1{font-size: 40px; line-height: 50px; transition: .3s;
                    &::after{width: 96px; height: 143px;}
                    }
                }
                p{transition: .3s; font-size: 20px; right: 70px; }
            }
           
        }
        #sec2{
            >.container{padding: 50px 30px;
                .profile{
                    .profile-left{
                        .profile_text{
                            p{font-size: 25px;}
                            dl{
                                dt{font-size: 12px;}
                            }
                        }
                    }
                    .profile-list{
                        >ul{
                            li.profile_list_dis{
                                .mobile-dis{
                                    >ul{
                                        li{
                                            a{
                                                .none1{display: none;}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #sec3{
            >.container{
                h2{font-size: 60px;
                &::after{width: 80px; height: 80px;}
                }
            }
        }
        #sec4{
            .container{
                >h2{font-size: 60px;
                &::after{width: 80px; height: 80px; left: 39%;}
                }
                >.projectWrap2{
                    >.project2_text{width: 100%;}
                    .project2_picturBox{margin-left: -10%;
                        .box_wrap{
                            .imgBox{width: 240px; height: 240px;}
                            .backBox{width:240px;}
                        }
                    }
                }
            }
        }
        #sec5{
            .container{
                >h2{font-size: 60px;
                &::after{width: 80px; height: 80px; left: 39%;}
                }
                >.projectWrap3{
                    >.project3_text{width: 100%;}
                    .project3_picturBox{width: 50%; 
                        .box_wrap{width: 80%; position: relative;
                            a.pc_img{ 
                                img{width: 100%;}
                            }
                            a.mobile_img{ position: absolute; top: 128px; right: -268px;
                                img{width: 50%;}
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:500px) {
    #fullpage {
        #sec2{
            >.container{padding: 50px 10px;}
        }
        #sec4{
            .container{
                >h2{font-size: 60px;
                &::after{width: 80px; height: 80px; left: 39%;}
                }
                >.projectWrap2{flex-direction: column-reverse;
                    .project2_picturBox{margin-left: -10%;
                        .box_wrap{
                            .imgBox{width:200px; height: 200px;}
                            .backBox{width:200px;}
                        }
                    }
                }
            }
        }
    }
}