@import url("https://fonts.googleapis.com/css2?family=Abel&family=Black+Han+Sans&family=Lato:wght@100;300&family=Nanum+Gothic:wght@400;700&family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

.nav_list {
    position: fixed;
    top: 34%;
    right: 50px;
}

.nav_list>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.nav_list>ul li {
    margin-top: 28px;
}

.nav_list>ul li a {
    position: relative;
}

.nav_list>ul li a span {
    display: block;
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 20px;
}

.nav_list>ul li a i {
    position: absolute;
    top: -3px;
    left: -93px;
    color: #759077;
    -webkit-transition: .3s;
    transition: .3s;
    display: none;
}

.nav_list>ul li:hover a i {
    display: block;
}

.nav_list>ul li.active {
    margin-left: -12px;
}

.nav_list>ul li.active a span {
    width: 36px;
    height: 36px;
}

.hamberMenu {
    display: none;
    -webkit-transition: .3s;
    transition: .3s;
}

.mobile_Nav {
    display: none;
}

#fullpage .section {
    width: 100%;
    height: 100vh;
}

#fullpage .container {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 50px 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

#fullpage #sec1 {
    background: #FFFFE9;
    position: relative;
}

#fullpage #sec1 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#fullpage #sec1 .container .main_text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#fullpage #sec1 .container .main_text h1 {
    position: relative;
    top: 97px;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 126px;
    font-family: 'Black Han Sans', sans-serif;
    text-shadow: 6px 7px 0px grey;
    z-index: 3;
    line-height: 170px;
}

#fullpage #sec1 .container .main_text h1::after {
    content: "";
    width: 282px;
    height: 393px;
    background: #135058;
    position: absolute;
    top: -45px;
    left: -10px;
    z-index: -1;
}

#fullpage #sec1 .container .main_text h1 strong {
    color: #fff;
    text-shadow: 6px 7px 0px #000;
}

#fullpage #sec1 .container p {
    -webkit-transition: .3s;
    transition: .3s;
    font-size: 72px;
    font-weight: bold;
    /* text-shadow: 10px 7px 2px grey; */
    position: absolute;
    right: 100px;
    bottom: 8%;
}

#fullpage #sec2 {
    font-family: 'Roboto', sans-serif;
    background: #FFFFE9;
    position: relative;
}

@-webkit-keyframes aniY {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes aniY {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

#fullpage #sec2 h2 {
    font-size: 67px;
    text-align: center;
    text-shadow: 10px 7px 11px #333;
}

#fullpage #sec2 .profile {
    width: 100%;
    height: 742px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

#fullpage #sec2 .profile .profile-left {
    width: 25%;
    height: inherit;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
}

#fullpage #sec2 .profile .profile-left.on {
    -webkit-animation: aniY 1.5s forwards;
    animation: aniY 1.5s forwards;
}

#fullpage #sec2 .profile .profile-left .photo {
    width: 100%;
    height: 282px;
    background: #a0e9c6;
    border-radius: 56px;
    margin: 0 auto;
}

#fullpage #sec2 .profile .profile-left .profile_text {
    margin-top: 5px;
}

#fullpage #sec2 .profile .profile-left .profile_text p {
    font-family: 'Abel', sans-serif;
    color: #759077;
    font-size: 50px;
    border-bottom: 3px solid #759077;
    width: 100%;
}

#fullpage #sec2 .profile .profile-left .profile_text>dl {
    margin-top: 15px;
}

#fullpage #sec2 .profile .profile-left .profile_text>dl dt {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #759077;
    font-weight: bold;
}

#fullpage #sec2 .profile .profile-left .profile_text>dl .age {
    margin-top: 5px;
}

#fullpage #sec2 .profile .profile-left .profile_text>dl .contact {
    margin-top: 5px;
}

#fullpage #sec2 .profile .profile-left .profile_text>dl dd {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#fullpage #sec2 .profile .profile-list {
    width: 75%;
    height: inherit;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px;
    border-left: 2px dashed #000;
}

#fullpage #sec2 .profile .profile-list.on {
    -webkit-animation: aniY 2s forwards;
    animation: aniY 2s forwards;
}

#fullpage #sec2 .profile .profile-list>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 742px;
}

#fullpage #sec2 .profile .profile-list>ul>li {
    width: 50%;
    height: 50%;
    padding: 0px 11px;
    opacity: 0;
}

#fullpage #sec2 .profile .profile-list>ul>li>p {
    font-size: 50px;
    font-family: 'Abel', sans-serif;
    color: #759077;
    border-bottom: 3px solid #759077;
    width: 100%;
}

#fullpage #sec2 .profile .profile-list>ul>li ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 50%;
    margin-top: 15px;
}

#fullpage #sec2 .profile .profile-list>ul>li ul li a {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border: none;
    margin-right: 15px;
    font-weight: bold;
}

#fullpage #sec2 .profile .profile-list>ul>li ul li p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border: none;
    margin-right: 15px;
    font-weight: bold;
    color: #759077;
    float: left;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_Education>ul>li {
    width: 100%;
    height: 50%;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_Education>ul>li p {
    float: left;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_Education>ul>li span {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_skills .skillsBox {
    margin-top: 35px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_skills .skillsBox>#flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -12px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_skills .skillsBox>#flexbox p {
    height: 50px;
    width: 50%;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_skills .skillsBox>#flexbox p a {
    font-size: 17px;
    margin-left: 94px;
    position: relative;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_skills .skillsBox>#flexbox p:nth-child(1) a::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    background: url(../img/html_icon.png) no-repeat;
    top: -9px;
    left: -79px;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_skills .skillsBox>#flexbox p:nth-child(2) a::after {
    content: "";
    width: 46px;
    height: 40px;
    position: absolute;
    background: url(../img/css_icon.png) no-repeat;
    top: -9px;
    left: -81px;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_skills .skillsBox>#flexbox p:nth-child(3) a {
    position: relative;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_skills .skillsBox>#flexbox p:nth-child(3) a::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    background: url(../img/js_icon.png) no-repeat;
    top: -9px;
    left: -79px;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_skills .skillsBox>#flexbox p:nth-child(4) a::after {
    content: "";
    width: 41px;
    height: 40px;
    position: absolute;
    background: url(../img/jquery_icon.png) no-repeat -19px -11px;
    top: -9px;
    left: -75px;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_skills .skillsBox>#flexbox p:nth-child(5) a::after {
    content: "";
    width: 41px;
    height: 40px;
    position: absolute;
    background: url(../img/scss.icon.png) no-repeat 0px 0px;
    top: -9px;
    left: -73px;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_skills .skillsBox>#flexbox p:nth-child(6) a::after {
    content: "";
    width: 41px;
    height: 40px;
    position: absolute;
    background: url(../img/bootstrap.icon.png) no-repeat 0px 0px;
    top: -9px;
    left: -72px;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_skills .skillsBox>#flexbox p:nth-child(7) a::after {
    content: "";
    width: 41px;
    height: 40px;
    position: absolute;
    background: url(../img/react.icon.png) no-repeat 0px 0px;
    top: -9px;
    left: -73px;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_skills .skillsBox>#flexbox p:nth-child(8) a::after {
    content: "";
    width: 41px;
    height: 40px;
    position: absolute;
    background: url(../img/figma.icon.png) no-repeat 0px 0px;
    top: -9px;
    left: -72px;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_Work ul {
    height: 55%;
    width: 100%;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_Work ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_Work ul li p {
    width: 30%;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_Work ul li a {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 100%;
    display: inline-block;
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_dis>ul {width: 100%; margin-top: 20px;}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_dis>ul li {width: 100%; height: 50px;}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_dis>ul li a {margin-left: 15px; font-size: 15px;}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_dis>ul li a span {float: left;}

#sec2 .profile .profile-list>ul li.profile_list_dis>ul li a div {width: 60%; height: 22px; background: #efefef; border-radius: 20px; margin-left: 15px; float: left; position: relative;}

#sec2 .profile .profile-list>ul li.profile_list_dis>ul li:nth-child(1) div.on::after { content: ""; width: 68%; height: 22px; background: #000; position: absolute; top: 0; left: 0; border-radius: 20px 0 0 20px; -webkit-animation: aniline1 2.3s 1.4s ease-in-out forwards; animation: aniline1 2.3s 1.4s ease-in-out forwards;}

#sec2 .profile .profile-list>ul li.profile_list_dis>ul li:nth-child(2) div.on::after {content: ""; width: 81%; height: 22px; background: #000; position: absolute; top: 0; left: 0; border-radius: 20px 0 0 20px; -webkit-animation: aniline2 2.3s 1.4s ease-in-out forwards; animation: aniline2 2.3s 1.4s ease-in-out forwards;}

#sec2 .profile .profile-list>ul li.profile_list_dis>ul li:nth-child(3) div.on::after { content: ""; width: 78%; height: 22px; background: #000; position: absolute; top: 0; left: 0; border-radius: 20px 0 0 20px; -webkit-animation: aniline3 2.3s 1.4s ease-in-out forwards; animation: aniline3 2.3s 1.4s ease-in-out forwards;}

#sec2 .profile .profile-list>ul li.profile_list_dis>ul li:nth-child(4) div.on::after {content: ""; width: 71%; height: 22px; background: #000; position: absolute; top: 0; left: 0; border-radius: 20px 0 0 20px; -webkit-animation: aniline4 2.3s 1.4s ease-in-out forwards; animation: aniline4 2.3s 1.4s ease-in-out forwards;}

#sec2 .profile .profile-list>ul li.profile_list_dis>ul li:nth-child(5) div.on::after {content: ""; width: 56%; height: 22px; background: #000; position: absolute; top: 0; left: 0; border-radius: 20px 0 0 20px; -webkit-animation: aniline5 2.3s 1.4s ease-in-out forwards; animation: aniline5 2.3s 1.4s ease-in-out forwards;}

@-webkit-keyframes aniline1 {
    0% {
        width: 0;
    }

    100% {
        width: 68%;
    }
}

@keyframes aniline1 {
    0% {
        width: 0;
    }

    100% {
        width: 68%;
    }
}

@-webkit-keyframes aniline2 {
    0% {
        width: 0;
    }

    100% {
        width: 81%;
    }
}

@keyframes aniline2 {
    0% {
        width: 0;
    }

    100% {
        width: 81%;
    }
}

@-webkit-keyframes aniline3 {
    0% {
        width: 0;
    }

    100% {
        width: 78%;
    }
}

@keyframes aniline3 {
    0% {
        width: 0;
    }

    100% {
        width: 78%;
    }
}

@-webkit-keyframes aniline4 {
    0% {
        width: 0;
    }

    100% {
        width: 71%;
    }
}

@keyframes aniline4 {
    0% {
        width: 0;
    }

    100% {
        width: 71%;
    }
}

@-webkit-keyframes aniline5 {
    0% {
        width: 0;
    }

    100% {
        width: 56%;
    }
}

@keyframes aniline5 {
    0% {
        width: 0;
    }

    100% {
        width: 56%;
    }
}

#fullpage #sec2 .profile .profile-list>ul li.profile_list_dis .mobile-dis {
    display: none;
}

#fullpage #sec3 h2 {
    font-size: 96px;
    font-family: 'Abel', sans-serif;
    text-align: center;
    text-shadow: 10px 7px 11px #333;
    position: relative;
}

#fullpage #sec3 h2::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 42%;
    background: #F4BE6C;
    width: 157px;
    height: 116px;
    z-index: -1;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#fullpage #sec3 .projectWrap1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#fullpage #sec3 .projectWrap1 .project1_text {
    width: 50%;
    height: 455px;
    font-family: 'Abel', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
}

#fullpage #sec3 .projectWrap1 .project1_text h3 {
    font-size: 61px;
    border-bottom: 2px solid #000;
    width: 100%;
    margin-left: -27px;
    padding-left: 27px;
}

#fullpage #sec3 .projectWrap1 .project1_text ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#fullpage #sec3 .projectWrap1 .project1_text ul li a p {
    font-size: 40px;
    float: left;
    margin-right: 20px;
}

#fullpage #sec3 .projectWrap1 .project1_text ul li a span {
    font-size: 24px;
    line-height: 66px;
}

#fullpage #sec3 .projectWrap1 .project1_text>p {
    font-size: 18px;
}

#fullpage #sec3 .projectWrap1 .project1_picturBox {
    width: 50%;
    height: 746px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* position: absolute; top: 149px; right: 140px; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 7%;
}

#fullpage #sec3 .projectWrap1 .project1_picturBox>div {
    margin-left: 20px;
    -webkit-transition: .5s;
    transition: .5s;
}

#fullpage #sec3 .projectWrap1 .project1_picturBox>div img {
    width: 100%;
    height: 620px;
}

#fullpage #sec3 .projectWrap1 .project1_picturBox>div:hover {
    margin-top: 50px;
}

#fullpage #sec3 .projectWrap1 .project1_picturBox div:nth-child(1) {
    padding-top: 90px;
}

#fullpage #sec3 .projectWrap1 .project1_picturBox div:nth-child(3) {
    padding-top: 90px;
}

#fullpage #sec4 {
    position: relative;
}

#fullpage #sec4 h2 {
    font-size: 96px;
    font-family: 'Abel', sans-serif;
    text-align: center;
    text-shadow: 10px 7px 11px #333;
}

#fullpage #sec4 h2::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 42%;
    background: #ebe8ae;
    width: 157px;
    height: 116px;
    z-index: -1;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#fullpage #sec4 .projectWrap2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

#fullpage #sec4 .projectWrap2 .project2_text {
    width: 50%;
    height: 50%;
    font-family: 'Abel', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
}

#fullpage #sec4 .projectWrap2 .project2_text h3 {
    font-size: 61px;
    border-bottom: 2px solid #000;
    width: 100%;
    margin-left: -27px;
    padding-left: 27px;
}

#fullpage #sec4 .projectWrap2 .project2_text ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#fullpage #sec4 .projectWrap2 .project2_text ul li a p {
    font-size: 40px;
    float: left;
    margin-right: 20px;
}

#fullpage #sec4 .projectWrap2 .project2_text ul li a span {
    font-size: 24px;
    line-height: 66px;
}

#fullpage #sec4 .projectWrap2 .project2_text>p {
    font-size: 18px;
}

#fullpage #sec4 .projectWrap2 .project2_picturBox {
    width: 50%;
    height: 50%;
    margin-top: 50px;
}

#fullpage #sec4 .projectWrap2 .project2_picturBox .box_wrap {
    width: 100%;
}

#fullpage #sec4 .projectWrap2 .project2_picturBox .box_wrap .imgBox {
    width: 500px;
    height: 500px;
    -webkit-transition: .3s;
    transition: .3s;
    margin-top: -47px;
}

#fullpage #sec4 .projectWrap2 .project2_picturBox .box_wrap .imgBox .imge {
    width: 100%;
    height: 100%;
    background: url(../img/project2.png) no-repeat;
    background-size: cover;
    -webkit-transition: .3s;
    transition: .3s;
}

#fullpage #sec4 .projectWrap2 .project2_picturBox .box_wrap .imgBox:hover {
    -webkit-transition: .3s;
    transition: .3s;
}

#fullpage #sec4 .projectWrap2 .project2_picturBox .box_wrap .imgBox:hover .imge {
    width: 100%;
    height: 100%;
    background: url(../img/project2_hover.png) no-repeat;
    background-size: cover;
}

#fullpage #sec4 .projectWrap2 .project2_picturBox .box_wrap .backBox {
    width: 500px;
    height: 108px;
    background: #Ffc80d;
    z-index: -1;
    margin-left: 40px;
    -webkit-transition: .3s;
    transition: .3s;
}

#fullpage #sec5 {
    position: relative;
}

#fullpage #sec5 h2 {
    font-size: 96px;
    font-family: 'Abel', sans-serif;
    text-align: center;
    text-shadow: 10px 7px 11px #333;
}

#fullpage #sec5 h2::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 42%;
    background: #A1ECAD;
    width: 157px;
    height: 116px;
    z-index: -1;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#fullpage #sec5 .projectWrap3 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 50px;
}

#fullpage #sec5 .projectWrap3 .project3_text {
    width: 50%;
    height: 50%;
    font-family: 'Abel', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 30px;
}

#fullpage #sec5 .projectWrap3 .project3_text h3 {
    font-size: 61px;
    border-bottom: 2px solid #000;
    width: 100%;
    margin-left: -27px;
    padding-left: 27px;
}

#fullpage #sec5 .projectWrap3 .project3_text ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#fullpage #sec5 .projectWrap3 .project3_text ul li a p {
    font-size: 40px;
    float: left;
    margin-right: 20px;
}

#fullpage #sec5 .projectWrap3 .project3_text ul li a span {
    font-size: 24px;
    line-height: 66px;
}

#fullpage #sec5 .projectWrap3 .project3_text>p {
    font-size: 18px;
}

#fullpage #sec5 .projectWrap3 .project3_picturBox {
    width: 50%;
}

#fullpage #sec5 .projectWrap3 .project3_picturBox .box_wrap {
    width: 80%;
}

#fullpage #sec5 .projectWrap3 .project3_picturBox .box_wrap a.pc_img img {
    width: 65%;
}

#fullpage #sec5 .projectWrap3 .project3_picturBox .box_wrap a.mobile_img img {
    width: 30%;
}

@media screen and (max-width: 1500px) {
    #fullpage #sec2>.container .profile-list ul li p {
        font-size: 40px;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_Education ul li p {
        font-size: 17px;
        line-height: 31px;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_Education ul li span {
        font-size: 17px;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_Work ul li p {
        font-size: 17px;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_Work ul li a {
        font-size: 17px;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_skills .skillsBox {
        margin-top: 15px;
    }
}

@media screen and (max-width: 1346px) {
    #fullpage #sec2>.container .profile-list ul li p {
        font-size: 40px;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_Education ul li p {
        font-size: 15px;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_Education ul li span {
        font-size: 15px;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_skills .skillsBox {
        margin-top: 15px;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_Work ul li p {
        font-size: 15px;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_Work ul li a {
        font-size: 15px;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_dis>ul {
        display: none;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_dis .mobile-dis {
        display: block;
        width: 100%;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_dis .mobile-dis ul {
        width: 100%;
        margin: 20px 0 0 0;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_dis .mobile-dis ul li {
        width: 100%;
        margin-bottom: 7px;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_dis .mobile-dis ul li a {
        margin-left: 15px;
        font-size: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_dis .mobile-dis ul li a div {
        width: 60%;
        height: 22px;
        background: #efefef;
        border-radius: 20px;
        margin-left: 15px;
        float: left;
        position: relative;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_dis .mobile-dis ul li a .none {
        padding-left: 10px;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_dis .mobile-dis ul li:nth-child(1) div::after {
        content: "";
        width: 68%;
        height: 22px;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px 0 0 20px;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_dis .mobile-dis ul li:nth-child(2) div::after {
        content: "";
        width: 81%;
        height: 22px;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px 0 0 20px;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_dis .mobile-dis ul li:nth-child(3) div::after {
        content: "";
        width: 78%;
        height: 22px;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px 0 0 20px;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_dis .mobile-dis ul li:nth-child(4) div::after {
        content: "";
        width: 71%;
        height: 22px;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px 0 0 20px;
    }

    #fullpage #sec2>.container .profile-list ul li.profile_list_dis .mobile-dis ul li:nth-child(5) div::after {
        content: "";
        width: 56%;
        height: 22px;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px 0 0 20px;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_picturBox div img {
        height: 550px;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox .imgBox {
        width: 450px;
        height: 450px;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox .imgBox .imge {
        width: 100%;
        height: 100%;
        background: url(../img/project2.png) no-repeat;
        background-size: cover;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox .backBox {
        width: 450px;
    }
}

@media screen and (max-width: 1248px) {
    #fullpage #sec1>.container .main_text h1 {
        font-size: 95px;
        line-height: 130px;
        -webkit-transition: .3s;
        transition: .3s;
    }

    #fullpage #sec1>.container .main_text h1::after {
        width: 220px;
        height: 325px;
        top: -34px;
    }

    #fullpage #sec1>.container p {
        -webkit-transition: .3s;
        transition: .3s;
        font-size: 50px;
        right: 70px;
    }

    #fullpage #sec2>.container {
        padding: 50px 55px;
    }

    #fullpage #sec2>.container .profile .profile-list ul li.profile_list_Education ul li p {
        font-size: 14px;
    }

    #fullpage #sec2>.container .profile .profile-list ul li.profile_list_Education ul li span {
        font-size: 14px;
    }

    #fullpage #sec2>.container .profile .profile-list ul li.profile_list_Work ul li p {
        font-size: 14px;
    }

    #fullpage #sec2>.container .profile .profile-list ul li.profile_list_Work ul li a {
        font-size: 14px;
    }

    #fullpage #sec2>.container .profile .profile-list ul li.profile_list_dis .mobile-dis ul li a {
        font-size: 15px;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_picturBox div img {
        height: 450px;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox .imgBox {
        width: 400px;
        height: 400px;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox .backBox {
        width: 400px;
    }
}

@media screen and (max-width: 1140px) {
    #fullpage #sec2>.container .profile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    #fullpage #sec2>.container .profile>.profile-left {
        width: 100%;
        height: 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-right: none;
        border-bottom: 1px dashed #000;
        padding: none;
    }

    #fullpage #sec2>.container .profile>.profile-left .photo {
        width: 270px;
        height: auto;
        margin-left: 2%;
    }

    #fullpage #sec2>.container .profile>.profile-left .profile_text {
        width: 60%;
        height: auto;
    }

    #fullpage #sec2>.container .profile>.profile-left .profile_text p {
        font-size: 30px;
    }

    #fullpage #sec2>.container .profile>.profile-left .profile_text>dl {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    #fullpage #sec2>.container .profile>.profile-left .profile_text>dl dt {
        margin-right: 15px;
        font-size: 15px;
    }

    #fullpage #sec2>.container .profile>.profile-left .profile_text>dl dd {
        font-size: 15px;
    }

    #fullpage #sec2>.container .profile>.profile-left .profile_text dl.contact {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    #fullpage #sec2>.container .profile>.profile-left .profile_text dl.contact dl.contact_column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #fullpage #sec2>.container .profile>.profile-list {
        top: 28%;
        width: 100%;
        padding: 40px 20px;
        border: none;
    }

    #fullpage #sec2>.container .profile>.profile-list>ul {
        width: 100%;
        height: 50%;
    }

    #fullpage #sec2>.container .profile>.profile-list>ul>li.profile_list_Education>p {
        font-size: 30px;
    }

    #fullpage #sec2>.container .profile>.profile-list>ul>li.profile_list_Education>ul li a {
        line-height: 18px;
    }

    #fullpage #sec2>.container .profile>.profile-list>ul>li.profile_list_Education>ul li a p {
        font-size: 15px;
    }

    #fullpage #sec2>.container .profile>.profile-list>ul>li.profile_list_Education>ul li a span {
        font-size: 15px;
    }

    #fullpage #sec2>.container .profile>.profile-list>ul>li.profile_list_skills>p {
        font-size: 30px;
    }

    #fullpage #sec2>.container .profile>.profile-list>ul>li.profile_list_skills>.skillsBox {
        margin-top: 5px;
    }

    #fullpage #sec2>.container .profile>.profile-list>ul>li.profile_list_skills>.skillsBox>#flexbox>p {
        width: 25%;
    }

    #fullpage #sec2>.container .profile>.profile-list>ul>li.profile_list_skills>.skillsBox>#flexbox>p a {
        font-size: 15px;
    }

    #fullpage #sec2>.container .profile>.profile-list>ul>li.profile_list_skills>.skillsBox>#flexbox>p a span {
        display: none;
    }

    #fullpage #sec2>.container .profile>.profile-list>ul li.profile_list_Work>p {
        font-size: 30px;
    }

    #fullpage #sec2>.container .profile>.profile-list>ul li.profile_list_Work ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    #fullpage #sec2>.container .profile>.profile-list>ul li.profile_list_Work ul li {
        height: 30%;
    }

    #fullpage #sec2>.container .profile>.profile-list>ul li.profile_list_Work ul li:nth-child(2) {
        margin-top: 40px;
    }

    #fullpage #sec2>.container .profile>.profile-list>ul li.profile_list_Work ul li p {
        font-size: 15px;
    }

    #fullpage #sec2>.container .profile>.profile-list>ul li.profile_list_Work ul li a {
        font-size: 15px;
    }

    #fullpage #sec2>.container .profile>.profile-list>ul li.profile_list_dis>p {
        font-size: 30px;
    }

    #fullpage #sec2>.container .profile>.profile-list>ul li.profile_list_dis .mobile-dis ul li {
        height: 30px;
    }

    #fullpage #sec2>.container .profile>.profile-list>ul li.profile_list_dis .mobile-dis ul li a {
        font-size: 12px;
    }

    #fullpage #sec3>.container h2 {
        font-size: 90px;
    }

    #fullpage #sec3>.container .projectWrap1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_text {
        width: 100%;
        height: 50%;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_text h3 {
        font-size: 55px;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_text>ul>li {
        margin-top: 5px;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_text>ul>li a p {
        font-size: 30px;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_text>ul>li a span {
        font-size: 20px;
        line-height: 50px;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_picturBox {
        width: 100%;
        height: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_picturBox div {
        width: 13%;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_picturBox div img {
        height: 250px;
    }

    #fullpage #sec4 .container>h2 {
        font-size: 90px;
    }

    #fullpage #sec4 .container>.projectWrap2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    #fullpage #sec4 .container>.projectWrap2>.project2_text {
        width: 100%;
    }

    #fullpage #sec4 .container>.projectWrap2>.project2_text h3 {
        font-size: 55px;
    }

    #fullpage #sec4 .container>.projectWrap2>.project2_text>ul>li {
        margin-top: 5px;
    }

    #fullpage #sec4 .container>.projectWrap2>.project2_text>ul>li a p {
        font-size: 30px;
    }

    #fullpage #sec4 .container>.projectWrap2>.project2_text>ul>li a span {
        font-size: 20px;
        line-height: 50px;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 0;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox .box_wrap {
        width: 50%;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox .box_wrap .imgBox {
        width: 330px;
        height: 330px;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox .box_wrap .backBox {
        width: 330px;
    }

    #fullpage #sec5 .container>h2 {
        font-size: 90px;
    }

    #fullpage #sec5 .container>.projectWrap3 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    #fullpage #sec5 .container>.projectWrap3>.project3_text {
        width: 100%;
    }

    #fullpage #sec5 .container>.projectWrap3>.project3_text h3 {
        font-size: 55px;
    }

    #fullpage #sec5 .container>.projectWrap3>.project3_text>ul>li {
        margin-top: 5px;
    }

    #fullpage #sec5 .container>.projectWrap3>.project3_text>ul>li a p {
        font-size: 30px;
    }

    #fullpage #sec5 .container>.projectWrap3>.project3_text>ul>li a span {
        font-size: 20px;
        line-height: 50px;
    }

    #fullpage #sec5 .container>.projectWrap3 .project3_picturBox {
        width: 50%;
        margin-top: 30px;
    }

    #fullpage #sec5 .container>.projectWrap3 .project3_picturBox .box_wrap {
        width: 80%;
    }

    #fullpage #sec5 .container>.projectWrap3 .project3_picturBox .box_wrap a.pc_img img {
        width: 65%;
    }

    #fullpage #sec5 .container>.projectWrap3 .project3_picturBox .box_wrap a.mobile_img img {
        width: 30%;
    }
}

@media screen and (max-width: 1004px) {
    .hamberMenu {display: block; position: fixed; top: 5%;  left: 5%; -webkit-transition: .3s; transition: .3s;
        z-index: 10;
    }

    .hamberMenu span i {
        font-size: 40px;
    }

    .mobile_Nav {
        display: block;
        width: 200px;
        height: 742px;
        position: fixed;
        top: 5%;
        left: -200px;
        background-color: #fff;
        z-index: 10;
    }

    .mobile_Nav .close_Btn {
        text-align: right;
        margin: 10px 10px;
    }

    .mobile_Nav .close_Btn span i {
        font-size: 40px;
    }

    .mobile_Nav>ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 98px;
    }

    .mobile_Nav>ul>li {
        margin-bottom: 61px;
        width: 100%;
        text-align: center;
    }

    .mobile_Nav>ul>li a {
        font-size: 43px;
        padding: 1px 21px;
        font-family: 'Abel', sans-serif;
    }

    .mobile_Nav>ul>li a:hover {
        color: #759077;
        -webkit-transition: .2s;
        transition: .2s;
    }

    .mobile_Nav>ul>li.on a {
        color: #759077;
    }

    nav {
        display: none;
    }

    #fullpage #sec1>.container .main_text h1 {
        font-size: 77px;
        line-height: 110px;
        -webkit-transition: .3s;
        transition: .3s;
    }

    #fullpage #sec1>.container .main_text h1::after {
        width: 179px;
        height: 260px;
        top: -24px;
    }

    #fullpage #sec1>.container p {
        -webkit-transition: .3s;
        transition: .3s;
        font-size: 30px;
        right: 50px;
    }

    #fullpage #sec2>.container {
        padding: 50px 75px;
    }

    #fullpage #sec2>.container h2 {
        font-size: 60px;
    }

    #fullpage #sec2>.container .profile .profile-left .photo {
        width: 250px;
    }

    #fullpage #sec3>.container .projectWrap1 .project1_text>h3 {
        margin-left: 0;
        padding-left: 0;
    }

    #fullpage #sec4>.container .projectWrap2 .project2_text>h3 {
        margin-left: 0;
        padding-left: 0;
    }

    #fullpage #sec5>.container .projectWrap3 .project3_text>h3 {
        margin-left: 0;
        padding-left: 0;
    }

    #fullpage #sec5>.container .projectWrap3 .project3_picturBox {
        width: 50%;
    }

    #fullpage #sec5>.container .projectWrap3 .project3_picturBox .box_wrap {
        width: 80%;
        position: relative;
    }

    #fullpage #sec5>.container .projectWrap3 .project3_picturBox .box_wrap a.pc_img img {
        width: 100%;
    }

    #fullpage #sec5>.container .projectWrap3 .project3_picturBox .box_wrap a.mobile_img {
        position: absolute;
        top: 128px;
        right: -268px;
    }

    #fullpage #sec5>.container .projectWrap3 .project3_picturBox .box_wrap a.mobile_img img {
        width: 50%;
    }
}

@media screen and (max-width: 860px) {
    #fullpage #sec1>.container .main_text h1 {
        font-size: 57px;
        line-height: 90px;
        -webkit-transition: .3s;
        transition: .3s;
    }

    #fullpage #sec1>.container .main_text h1::after {
        width: 136px;
        height: 218px;
    }

    #fullpage #sec1>.container p {
        -webkit-transition: .3s;
        transition: .3s;
        font-size: 30px;
        right: 70px;
    }

    #fullpage #sec2>.container {
        padding: 50px 50px;
    }

    #fullpage #sec2>.container h2 {
        font-size: 55px;
    }

    #fullpage #sec2>.container>.profile>.profile-left .photo {
        width: 230px;
        margin-left: 1%;
    }

    #fullpage #sec2>.container>.profile>.profile-list>ul>li.profile_list_Education>p {
        font-size: 25px;
    }

    #fullpage #sec2>.container>.profile>.profile-list>ul>li.profile_list_Education>ul>li>a>p {
        font-size: 14px;
    }

    #fullpage #sec2>.container>.profile>.profile-list>ul>li.profile_list_Education>ul>li>a>span {
        font-size: 14px;
    }

    #fullpage #sec2>.container>.profile>.profile-list>ul>li.profile_list_skills>p {
        font-size: 25px;
    }

    #fullpage #sec2>.container>.profile>.profile-list>ul li.profile_list_Work p {
        font-size: 25px;
    }

    #fullpage #sec2>.container>.profile>.profile-list>ul li.profile_list_Work ul li p {
        font-size: 14px;
    }

    #fullpage #sec2>.container>.profile>.profile-list>ul li.profile_list_Work ul li a {
        font-size: 14px;
    }

    #fullpage #sec2>.container>.profile>.profile-list>ul li.profile_list_dis>p {
        font-size: 25px;
    }

    #fullpage #sec3>.container {
        padding: 50px 80px;
    }

    #fullpage #sec3>.container h2 {
        font-size: 80px;
    }

    #fullpage #sec3>.container h2::after {
        width: 123px;
        top: 10px;
        left: 38%;
    }

    #fullpage #sec3>.container .projectWrap1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_text {
        width: 100%;
        height: 50%;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_text h3 {
        font-size: 45px;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_text>ul>li {
        margin-top: 5px;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_text>ul>li a p {
        font-size: 25px;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_text>ul>li a span {
        font-size: 18px;
        line-height: 40px;
    }

    #fullpage #sec4 .container {
        padding: 50px 80px;
    }

    #fullpage #sec4 .container>h2 {
        font-size: 80px;
    }

    #fullpage #sec4 .container>h2::after {
        width: 123px;
        top: 51px;
        left: 38%;
    }

    #fullpage #sec4 .container>.projectWrap2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        margin-left: -5%;
    }

    #fullpage #sec4 .container>.projectWrap2>.project2_text {
        width: 100%;
        height: 50%;
    }

    #fullpage #sec4 .container>.projectWrap2>.project2_text h3 {
        font-size: 45px;
    }

    #fullpage #sec4 .container>.projectWrap2>.project2_text>ul>li {
        margin-top: 5px;
    }

    #fullpage #sec4 .container>.projectWrap2>.project2_text>ul>li>a p {
        font-size: 25px;
    }

    #fullpage #sec4 .container>.projectWrap2>.project2_text>ul>li>a span {
        font-size: 18px;
        line-height: 40px;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 35px;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox .box_wrap {
        width: 50%;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox .box_wrap .imgBox {
        width: 300px;
        height: 300px;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox .box_wrap .backBox {
        width: 300px;
    }

    #fullpage #sec5 .container {
        padding: 50px 80px;
    }

    #fullpage #sec5 .container>h2 {
        font-size: 80px;
    }

    #fullpage #sec5 .container>h2::after {
        width: 123px;
        top: 51px;
        left: 38%;
    }

    #fullpage #sec5 .container>.projectWrap3 {
        margin-left: -5%;
    }

    #fullpage #sec5 .container>.projectWrap3>.project3_text {
        width: 100%;
        height: 50%;
    }

    #fullpage #sec5 .container>.projectWrap3>.project3_text h3 {
        font-size: 45px;
    }

    #fullpage #sec5 .container>.projectWrap3>.project3_text>ul>li {
        margin-top: 5px;
    }

    #fullpage #sec5 .container>.projectWrap3>.project3_text>ul>li>a p {
        font-size: 25px;
    }

    #fullpage #sec5 .container>.projectWrap3>.project3_text>ul>li>a span {
        font-size: 18px;
        line-height: 40px;
    }

    #fullpage #sec5 .container>.projectWrap3 .project3_picturBox {
        width: 50%;
    }

    #fullpage #sec5 .container>.projectWrap3 .project3_picturBox .box_wrap {
        width: 80%;
        position: relative;
    }

    #fullpage #sec5 .container>.projectWrap3 .project3_picturBox .box_wrap a.pc_img img {
        width: 100%;
    }

    #fullpage #sec5 .container>.projectWrap3 .project3_picturBox .box_wrap a.mobile_img {
        position: absolute;
        top: 128px;
        right: -268px;
    }

    #fullpage #sec5 .container>.projectWrap3 .project3_picturBox .box_wrap a.mobile_img img {
        width: 50%;
    }
}

@media screen and (max-width: 758px) {
    #fullpage>#sec2>.container>.profile>.profile-left .photo {
        width: 210px;
        margin-left: -2%;
    }

    #fullpage>#sec2>.container>.profile>.profile-list>ul>li.profile_list_skills>.skillsBox>#flexbox p a span {
        display: none;
    }

    #fullpage #sec3>.container {
        padding: 50px 60px;
    }

    #fullpage #sec3>.container h2 {
        font-size: 75px;
    }

    #fullpage #sec3>.container h2::after {
        width: 100px;
        height: 100px;
        top: 10px;
        left: 35%;
    }

    #fullpage #sec3>.container .projectWrap1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_text {
        width: 100%;
        height: 50%;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_text h3 {
        font-size: 45px;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_text>ul>li {
        margin-top: 5px;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_text>ul>li a p {
        font-size: 25px;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_text>ul>li a span {
        font-size: 18px;
        line-height: 40px;
    }

    #fullpage #sec3>.container .projectWrap1>.project1_text p {
        font-size: 15px;
    }

    #fullpage #sec3>.container .projectWrap1 .project1_picturBox {
        margin-left: -2%;
    }

    #fullpage #sec3>.container .projectWrap1 .project1_picturBox div img {
        width: 60px;
    }

    #fullpage #sec4 .container {
        padding: 50px 60px;
    }

    #fullpage #sec4 .container>h2 {
        font-size: 75px;
    }

    #fullpage #sec4 .container>h2::after {
        width: 100px;
        height: 100px;
        top: 51px;
        left: 35%;
    }

    #fullpage #sec4 .container>.projectWrap2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    #fullpage #sec4 .container>.projectWrap2>.project2_text {
        width: 100%;
    }

    #fullpage #sec4 .container>.projectWrap2>.project2_text h3 {
        font-size: 45px;
    }

    #fullpage #sec4 .container>.projectWrap2>.project2_text>ul>li>a p {
        font-size: 25px;
    }

    #fullpage #sec4 .container>.projectWrap2>.project2_text>ul>li>a span {
        font-size: 18px;
        line-height: 40px;
    }

    #fullpage #sec4 .container>.projectWrap2>.project2_text p {
        font-size: 15px;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox .box_wrap .imgBox {
        width: 270px;
        height: 270px;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox .box_wrap .backBox {
        width: 270px;
    }

    #fullpage #sec5 .container {
        padding: 50px 60px;
    }

    #fullpage #sec5 .container>h2 {
        font-size: 75px;
    }

    #fullpage #sec5 .container>h2::after {
        width: 100px;
        height: 100px;
        top: 51px;
        left: 35%;
    }

    #fullpage #sec5 .container>.projectWrap3 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #fullpage #sec5 .container>.projectWrap3>.project3_text {
        width: 100%;
    }

    #fullpage #sec5 .container>.projectWrap3>.project3_text h3 {
        font-size: 45px;
    }

    #fullpage #sec5 .container>.projectWrap3>.project3_text>ul>li>a p {
        font-size: 25px;
    }

    #fullpage #sec5 .container>.projectWrap3>.project3_text>ul>li>a span {
        font-size: 18px;
        line-height: 40px;
    }

    #fullpage #sec5 .container>.projectWrap3>.project3_text p {
        font-size: 15px;
    }

    #fullpage #sec5 .container>.projectWrap3 .project3_picturBox {
        width: 50%;
    }

    #fullpage #sec5 .container>.projectWrap3 .project3_picturBox .box_wrap {
        width: 80%;
        position: relative;
    }

    #fullpage #sec5 .container>.projectWrap3 .project3_picturBox .box_wrap a.pc_img img {
        width: 100%;
    }

    #fullpage #sec5 .container>.projectWrap3 .project3_picturBox .box_wrap a.mobile_img {
        position: absolute;
        top: 128px;
        right: -268px;
    }

    #fullpage #sec5 .container>.projectWrap3 .project3_picturBox .box_wrap a.mobile_img img {
        width: 50%;
    }
}

@media screen and (max-width: 682px) {
    #fullpage #sec1>.container .main_text {
        position: absolute;
        top: 37%;
    }

    #fullpage #sec1>.container .main_text h1 {
        font-size: 40px;
        line-height: 50px;
        -webkit-transition: .3s;
        transition: .3s;
    }

    #fullpage #sec1>.container .main_text h1::after {
        width: 96px;
        height: 143px;
    }

    #fullpage #sec1>.container p {
        -webkit-transition: .3s;
        transition: .3s;
        font-size: 20px;
        right: 70px;
    }

    #fullpage #sec2>.container {
        padding: 50px 30px;
    }

    #fullpage #sec2>.container .profile .profile-left .profile_text p {
        font-size: 25px;
    }

    #fullpage #sec2>.container .profile .profile-left .profile_text dl dt {
        font-size: 12px;
    }

    #fullpage #sec2>.container .profile .profile-list>ul li.profile_list_dis .mobile-dis>ul li a .none1 {
        display: none;
    }

    #fullpage #sec3>.container h2 {
        font-size: 60px;
    }

    #fullpage #sec3>.container h2::after {
        width: 80px;
        height: 80px;
    }

    #fullpage #sec4 .container>h2 {
        font-size: 60px;
    }

    #fullpage #sec4 .container>h2::after {
        width: 80px;
        height: 80px;
        left: 39%;
    }

    #fullpage #sec4 .container>.projectWrap2>.project2_text {
        width: 100%;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox {
        margin-left: -10%;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox .box_wrap .imgBox {
        width: 240px;
        height: 240px;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox .box_wrap .backBox {
        width: 240px;
    }

    #fullpage #sec5 .container>h2 {
        font-size: 60px;
    }

    #fullpage #sec5 .container>h2::after {
        width: 80px;
        height: 80px;
        left: 39%;
    }

    #fullpage #sec5 .container>.projectWrap3>.project3_text {
        width: 100%;
    }

    #fullpage #sec5 .container>.projectWrap3 .project3_picturBox {
        width: 50%;
    }

    #fullpage #sec5 .container>.projectWrap3 .project3_picturBox .box_wrap {
        width: 80%;
        position: relative;
    }

    #fullpage #sec5 .container>.projectWrap3 .project3_picturBox .box_wrap a.pc_img img {
        width: 100%;
    }

    #fullpage #sec5 .container>.projectWrap3 .project3_picturBox .box_wrap a.mobile_img {
        position: absolute;
        top: 128px;
        right: -268px;
    }

    #fullpage #sec5 .container>.projectWrap3 .project3_picturBox .box_wrap a.mobile_img img {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    #fullpage #sec2>.container {
        padding: 50px 10px;
    }

    #fullpage #sec4 .container>h2 {
        font-size: 60px;
    }

    #fullpage #sec4 .container>h2::after {
        width: 80px;
        height: 80px;
        left: 39%;
    }

    #fullpage #sec4 .container>.projectWrap2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox {
        margin-left: -10%;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox .box_wrap .imgBox {
        width: 200px;
        height: 200px;
    }

    #fullpage #sec4 .container>.projectWrap2 .project2_picturBox .box_wrap .backBox {
        width: 200px;
    }
}

/*# sourceMappingURL=style.css.map */