@charset "utf-8";
*{margin: 0; padding: 0;}
@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');

body{font-family: 'Roboto', sans-serif;}
#wrap{font-family: 'Roboto', sans-serif;}


/* header */
#header{width: 100%; height: 95px; text-align: center; line-height: 122px; border-bottom: 1px solid #ddd;}
#section{width: 100%; font-size: 15px; font-weight: bold; color: rgb(64, 64, 64);}
#section .formWrap{width: 100%;}
#section .formWrap form{width: 80%; margin: 48px auto;}
#section .formWrap form input{width: 100%; margin-bottom: 17px; height: 42px; border-radius: 6px; box-sizing: border-box; border: 1px solid #9E9E9E; padding-left: 15px;}
#section .formWrap form select{width: 100%; margin-bottom: 17px; height: 42px; border-radius: 6px; box-sizing: border-box; border: 1px solid #9E9E9E; padding-left: 15px;}
#section .formWrap form input#yy,
#section .formWrap form input#xx{width: 30%; box-sizing: border-box;}
#section .formWrap form input#yy{margin-right: 9px; box-sizing: border-box;}
#section .formWrap form select#mm{width: 30%; margin-right: 9px; box-sizing: border-box;}
#section .formWrap form .sellWrap{display: flex; justify-content: space-between;}
#section .formWrap form .sellWrap input#sell{width: 65%;}
#section .formWrap form .sellWrap a.btn{width: 30%; height: 42px; background: #00CD0C; color: #fff; display: block; text-align: center; line-height: 42px; border-radius: 6px;}

#section .formWrap form button{width: 100%; height: 42px; border-radius: 20px; border: 1px solid #00CD0C; color: #00CD0C; background: #fff; margin-top: 10px;}


